@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

body {
        font-family: "Baskervville SC", serif;
        color: #D2C385;
        background: $background-gradient;
        text-align: center;
        box-sizing: border-box;
        font-size: 4rem;
}