// Button Colours

$scissors-gradient: #D2C385;
$paper-gradient: #D2C385;
$rock-gradient: #D2C385;

// Text Colours

$dark-text: #D2C385;
$score-text: #D2C385;
$header-outline: #D2C385;

// Body

$background-gradient: #9C8CD4;