// Button Colours

$scissors-gradient: #f2ece4;
$paper-gradient: #f2ece4;
$rock-gradient: #f2ece4;

// Text Colours

$dark-text: #f2ece4;
$score-text: #f2ece4;
$header-outline: #f2ece4;

// Body

$background-gradient: radial-gradient(circle, #f2ece4 to #000000);